<!DOCTYPE html>
<html>
    <head>
     <!-- Compiled and minified CSS -->
       <style>
         .container {
           margin-top: 50px;
           margin-bottom: 50px;
           border: 5px solid green;
         }
         
         .flex-container {
           display: flex
         }
         
         .row {
           border: 5px solid red;
         }

       </style>
    </head>

    <body>
      
      <header class='header'>
        親愛的{{receiver}}<br>
        有一位與您認識2年的{{sender}}<br>
        為您捎來一封禮物調查信
      </header>
      

      <div class='container'>
        他想要請您從精心篩選的三樣禮物中，挑選一樣。
        <div class="flex-container">
          <div class='row'>1</div>
          <div class='row'>2</div>
          <div class='row'>3</div>
        </div>
        此外，他也想對您說：「白痴喔」
      </div>
        
      <footer class='footer'>
        <div class='container'>
          想知道他到底寫了些什麼嗎<br>
          快<a href="https://www.google.com"></a>>點這裡</a>註冊心禮系帳號，查看完整內容並回覆，<br>
          繫起心與心的距離！
         </div>
        
        <div class='container'>
          心禮系是一個幫助您匿名調查禮物需求的網站，<br>
          希望藉由科技拉近人與人間的距離。
        </div>
      </footer>
    </body>
</html>