{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="page-header">
        <h3>『 Hi, 開始寫信給對方吧！ 』</h3>
        <br>
    </header>
        <form id="questionnaire_form" method="post">
                <fieldset>
                {% csrf_token %}
                <!-- Q1 -->
                <div class="fieldWrapper">
                    {{ questionnaire_form.receiver_email.errors }}
                    <label for="{{ questionnaire_form.receiver_email.id_for_label }}">1.收禮者的Email:</label>
                    {{ questionnaire_form.receiver_email }}
                </div>
                
                <!-- Q2, 選擇題 -->
                <div class="fieldWrapper">
                    {{ questionnaire_form.receiver_nickname.errors }}
                    <label for="{{ questionnaire_form.receiver_nickname.id_for_label }}">2.收禮者的暱稱:</label>
                    {{ questionnaire_form.receiver_nickname }}
                </div>

                <!-- Q3 -->
                <div class="fieldWrapper">
                    <label>3.要讓他/她收到哪3樣禮物呢？</label>
                    <div class="container">
                        {{choice_formset.as_p}}
                    </div>
                </div>
                
                <!-- Q4 -->
                <div class="fieldWrapper">
                    {{ questionnaire_form.sender_nickname.errors }}
                    <label for="{{ questionnaire_form.sender_nickname.id_for_label }}">4.透露一些你的資訊給她吧！</label>
                    {{ questionnaire_form.sender_nickname }}
                </div>

                <!-- Q4 -->
                <div class="fieldWrapper">
                    {{ questionnaire_form.extra_messages.errors }}
                    <label for="{{ questionnaire_form.extra_messages.id_for_label }}">5.你還想對她說什麼嗎？</label>
                    {{ questionnaire_form.extra_messages }}
                </div>

                <br>
                <button class="btn waves-effect waves-light" type="submit">寄出</button>
            </fieldset>
        </form>
 {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {

            var questionnaire_form = document.querySelector('#questionnaire_form')
            
            // If questionnaire_form Start:
            if(questionnaire_form){
                questionnaire_form.addEventListener('submit', function(e) {
                var form = this;

                e.preventDefault(); // <--- prevent form from submitting

                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: [
                        'No, cancel it!',
                        'Yes, I am sure!'
                    ],
                    dangerMode: true,
                    }).then(function(isConfirm) {
                    if (isConfirm) {
                        swal({
                        title: 'Shortlisted!',
                        text: 'Candidates are successfully shortlisted!',
                        icon: 'success'
                        }).then(function() {
                        form.submit(); // <--- submit form programmatically
                        });
                    } else {
                        swal("Cancelled", "Your imaginary file is safe :)", "error");
                    }
                    })
                
                });
            } // If questionnaire_form End

        });
    </script>
{% endblock %}
