{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="page-header"></header>
    <h3>『 Hi, 開始寫信給對方吧！ 』</h3>
    <br>
</header>

<!-- {% if user.is_authenticated %}
{% for question in questionnaire %}
    <div class="row">
        <div class="col s12 red lighten-3">Q:{{forloop.counter}}{{question}}</div>
        <div class="col s12 red lighten-5">A:</div>
    </div>
{% endfor %}

{% else %}

{% endif %} -->

<form method="post">
    {% csrf_token %}
    {{questionnaire_form.as_p}}
    <br>
    <br>
    <div>以下是表單2</div>
    <br>
    <br>
    
    {{choice_formset.as_p}}

    <button class="btn waves-effect waves-light" type="submit">寄出</button>
</form>
    <!-- <div class="row">
        <div class="col s12 red lighten-3">題目1</div>
        <div class="col s12 red lighten-5">答案</div>
    </div>
    <div class="row">
        <div class="col s12 red lighten-3">題目2</div>
        <div class="col s12 red lighten-5">答案</div>
    </div>

    <div class="row">
        <div class="col s12 red lighten-3">題目3</div>
        <div class="col s12 red lighten-5">答案</div>
    </div> -->

{% endblock %}
<script>
</script>
