<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>

    </head>
    <body>
        <div style="padding:10px">
            <p style="font-size: 12pt;">
                {{message}}
            </p>
        </div>
        
    <!-- Footer -->
    <hr>
    <footer style="margin-top: 5px;">
        <p class="p_h3">心禮系是幾位臺大生做的小project，幫您用匿名的方式寄送Email<br>
        無論你是想說一句鼓勵的話/感謝/道歉  ... 通通都可以。<br>
        &rarr;  <b><a href="https://giftu.herokuapp.com/email_service/">點這裡</a>，開始使用我們的服務吧！</b><br>
    
        {% if reply_link %}
        &#10024;  <b><a href={{reply_link}}>點這裡</a>，你也能回信給神秘的寄信人喔！</b><br>
        {% endif %}

        <div style="margin-top: 5px;">心禮系成員 敬上</div>
        </p>
    </footer>

    </body>
</html>
