{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <input type='hidden' name="is_reply" value="false"><br>

    <label for="recipient">收件人信箱</label><br>
    <input type="email" name="recipient"><br>
    
    <label for="title">標題</label><br>
    <input type="text" name="title"><br>
    
    <label for="message">信件內容</label>
    <span style="font-size: small;">    （*小提醒：由於此封信為完全匿名，建議可以在信末附上你的綽號或暗示，讓對方猜猜你是誰喔：）</span><br>
    <textarea name="message" rows="10" cols="30"></textarea><br>

    <div>
        <label for="sender">您的email(選填)</label>
        <span style="font-size: small;">    （*此欄位將會用來產生一條加密連結，讓對方也能回信給你）</span><br>
        <input type="email" name="sender"><br>

        <label for="anonymous">是否顯示email給對方</label>
        <p><input type="radio" name="anonymous" value="false">Yes</input></p>
        <p><input type="radio" name="anonymous" value="true" checked>No</input></p>
            
    </div>

    <input type="submit"></button>
</form>
{% endblock %}