<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Jquery (Must be included before minified) -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% block scripts %}
    <!-- some default content here -->
    {% endblock %}

    
    
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'survey:index' %}">開始寫信</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="nav-dropdown">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            <!-- Dropdown Structure -->
            <ul id="nav-dropdown" class="dropdown-content">
                <li><a href="{% url 'user_profile' %}">個人頁面</a></li>
                <li><a href="{% url 'user_dashboard' %}">信件總覽</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>  
        </div>
    </nav>
    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script>
    $( document ).ready(function() {
        
        if (document.getElementsByClassName("dropdown-trigger")){
            $(".dropdown-trigger").dropdown();
        }
    });
</script>
</html>
