<!-- Navbar -->
    <!-- <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'survey:index' %}">開始寫信</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="nav-dropdown">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="nav-dropdown" class="dropdown-content">
                <li><a href="{% url 'user_profile' %}">個人頁面</a></li>
                <li><a href="{% url 'user_dashboard' %}">信件總覽</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>  
        </div>
    </nav> -->

    <!-- Header/Navbar on top -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark debug">
        <a id="navbar_logo" class="navbar-brand" href="#">心禮系</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="margin-right: 20px;"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li id="contact_us_link" class="nav-item">
                <a class="nav-link" href="{% url 'landing_page' %}#contact_us" onclick="{collapse()}"
                >聯絡我們</a
                >
            </li>
            <li class="nav-item" style="display: flex;">
                <button id="main_btn">
                <a class="btn_link" target="_self" rel="noreferrer noopener" href="{% url 'survey:index' %}">
                    寄送心意</a>
                </button>
            </li>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    總覽
                </a>
                <div id="nav-dropdown" class="dropdown-menu nav-item" aria-labelledby="dropdownMenuButton">
                        <a href="{% url 'user_profile' %}" class="dropdown-item">個人頁面</a>
                        <a href="{% url 'user_dashboard' %}" class="dropdown-item">信件總覽</a>
                        <li class="divider"></li>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    </ul>
                </div>
            </div>
            {% else %}
            <li id="about_us_link" class="nav-item active">
                <a class="nav-link" href="{% url 'landing_page' %}#about_us" onclick="{collapse()}"
                  >關於我們 <span class="sr-only">(current)</span></a
                >
            </li>
            <li id="service_intro_link" class="nav-item">
                <a class="nav-link" href="{% url 'landing_page' %}#service_intro" onclick="{collapse()}"
                >服務介紹</a
                >
            </li>
            <li id="user_feedback_link" class="nav-item">
                <a class="nav-link" href="{% url 'landing_page' %}#user_feedback" onclick="{collapse()}"
                >用戶回饋</a
                >
            </li>
            <li id="contact_us_link" class="nav-item">
                <a class="nav-link" href="{% url 'landing_page' %}#contact_us" onclick="{collapse()}"
                >聯絡我們</a
                >
            </li>
            <li class="nav-item" style="display: flex;">
                <button id="main_btn">
                <a class="btn_link" target="_self" rel="noreferrer noopener" href="{% url 'survey:index' %}">
                    寄送心意</a>
                </button>
            </li>
              
            <li id="user_login" class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}" onclick="{collapse()}"
                  >登入</a
                >
            </li>

            <li id="user_register" class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}" onclick="{collapse()}"
                >註冊</a
                >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>